<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignupServ</servlet-name>
        <servlet-class>servs.SignupServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServ</servlet-name>
        <servlet-class>servs.LoginServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategory</servlet-name>
        <servlet-class>servs.AddCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostInfo</servlet-name>
        <servlet-class>servs.PostInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServ</servlet-name>
        <servlet-class>servs.LogoutServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRecord</servlet-name>
        <servlet-class>servs.AddRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCategory</servlet-name>
        <servlet-class>servs.EditCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostClassifiedServ</servlet-name>
        <servlet-class>servs.PostClassifiedServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditClassifiedServ</servlet-name>
        <servlet-class>servs.EditClassifiedServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBar</servlet-name>
        <servlet-class>servs.SearchBar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRecord</servlet-name>
        <servlet-class>servs.EditRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Feedback_Review</servlet-name>
        <servlet-class>servs.Feedback_Review</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewClassified</servlet-name>
        <servlet-class>servs.ViewClassified</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupServ</servlet-name>
        <url-pattern>/SignupServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServ</servlet-name>
        <url-pattern>/LoginServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategory</servlet-name>
        <url-pattern>/AddCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostInfo</servlet-name>
        <url-pattern>/PostInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServ</servlet-name>
        <url-pattern>/LogoutServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRecord</servlet-name>
        <url-pattern>/AddRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCategory</servlet-name>
        <url-pattern>/EditCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostClassifiedServ</servlet-name>
        <url-pattern>/PostClassifiedServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditClassifiedServ</servlet-name>
        <url-pattern>/EditClassifiedServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBar</servlet-name>
        <url-pattern>/SearchBar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRecord</servlet-name>
        <url-pattern>/EditRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Feedback_Review</servlet-name>
        <url-pattern>/Feedback_Review</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewClassified</servlet-name>
        <url-pattern>/ViewClassified</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
